*{
    position: relative;  
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Serif TC', serif;
    box-sizing: border-box;
    line-height: 1.6;
    letter-spacing: 0.1em;
}
a{
    color:rgb(116, 108, 108) !important;
}
.bg-dark{
   
    background: rgb(226, 220, 220) !important;
}
.nav-link {
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    font-size: 16px;
}
img{
    width: 100%;
    /* border-radius: 100%; */
}
.pic{
    display: inline-block;  
}
.about{
    margin: 20px 8px;
    margin: 5px 8px;
}

.skill-h3{
    text-align: center;
    margin-bottom:20px;
}


.experience-group{
    margin-top: 10px;
}

.experience{
    text-align: center;
    margin-bottom:20px ;
}
.exp-content h5{
    color:#948073;
}
.exp-date{
    font-weight: 500;
}
.footer{
    text-align: center;
}
.footer h4{
    margin: 50px auto 15px;
    font-size: 14px;

}


@media screen and (min-width:768px){
    .exp-date{
       width: 80%;
        left:20%;
    }
    .exp-content{
        display: inline-block;
        left:30%;
         width: 45%;
    }
    .experience-group{
        margin-top: 40px;
    }

    .experience{
        text-align: initial;
    }

    .footer{
        margin:50px auto 15px
    }
}

@media screen and (max-width: 960px){
    section {
      padding-left: 15px;
      padding-right: 15px;
    }
  }


